@font-face {
    font-family: 'Roboto'; /*'Montserrat'*/
    font-weight: normal;
    src: local('Roboto'), url(/resources/Roboto-Regular.ttf) format("truetype");
	/* src: local('Monserrat'), url(/resources/Montserrat-Regular.otf) format("opentype"); */
}

@font-face {
    font-family: 'Roboto'; /*'Montserrat'*/ 
    font-weight: bold;
	src: local('Roboto Bold'), url(/resources/Roboto-Bold.ttf) format("truetype");
    /* src: local('Monserrat Bold'), url(/resources/Montserrat-Bold.otf) format("opentype"); */
}

html {
    font-family: 'Roboto';
}
 
body {
    background-color: #EEF7EF;
	margin: 0;
    position: relative;
    min-height: 100vh;
}

a:link, a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: rgb(248, 148, 164);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

ul {
    margin: 0;
}

/*Header CSS*/
header {
	display: flex;
	flex-direction: row;
	align-items: center;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
}

.header-item {
	margin-right: auto;
	margin-left: 48px;
	height: 88px !important;
	color: #E37263 !important
}

.header-item-about {
	margin-right: 104px;
	margin-left: 0px;	
	padding: 0px;
	color: #E37263 !important
}

.header-item-support {
	margin-right: 104px;
	margin-left: 0px;	
	padding: 0px;
	color: #E37263 !important
}

.header-item-button {
	margin-right: 48px;
	margin-left: 0px;
	padding: 0px;
	width: 170px;
	height: 55px;
	border: 2px solid #E37263;
	border-radius: 78px;
	opacity: 1;
	color: #E37263 !important
}

#exit {
	position: absolute;
	top: 48px;
	padding-left: 34px;
}

.content-wrapper {
    padding-bottom: 2rem;
}

/*Container CSS*/
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-container {
    display: block;
    background-color: rgb(250, 192, 202);
    border-radius: 15px;
    padding: 20px;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.input-item {
    width: inherit;
    min-width: 300px;
}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}
.mainBox{
    display: flex;
    flex-direction: column;
}
