@font-face {
    font-family: 'Roboto'; /*'Montserrat'*/
    font-weight: normal;
    src: local('Roboto'), url(/resources/Roboto-Regular.ttf) format("truetype");
	/* src: local('Monserrat'), url(/resources/Montserrat-Regular.otf) format("opentype"); */
}

@font-face {
    font-family: 'Roboto'; /*'Montserrat'*/ 
    font-weight: bold;
	src: local('Roboto Bold'), url(/resources/Roboto-Bold.ttf) format("truetype");
    /* src: local('Monserrat Bold'), url(/resources/Montserrat-Bold.otf) format("opentype"); */
}

html {
    font-family: 'Roboto';
}
 
body {
    background-color: white;
	margin: 0;
    position: relative;
    min-height: 100vh;
}

#mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: black;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#mask p{
    line-height: 100%;
    color: white;
    font-size: 5vw;
    font-weight: bold;
}
a:link, a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: #CC362E;
    font-size: 32pt;
    margin-bottom: 3rem;
}


ul {
    margin: 0;
}

/*Header CSS*/
header {
	display: flex;
	flex-direction: row;
	align-items: center;
    top: 0;
   height: 120px;
    width: 100%;
    background-color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
}

.header-item {
	margin-right: auto;
	margin-left: 48px;
	height: 88px !important;
	color: #E37263 !important
}

.header-item-about {
	margin-right: 104px;
	margin-left: 0px;	
	padding: 0px;
	color: #E37263 !important
}

.header-item-support {
	margin-right: 104px;
	margin-left: 0px;	
	padding: 0px;
	color: #E37263 !important
}

.header-item-button {
	margin-right: 48px;
	margin-left: 0px;
	padding: 0px;
	width: 170px;
	height: 55px;
	border: 2px solid #E37263;
	border-radius: 78px;
	opacity: 1;
	color: #E37263 !important
}

#exit {
	position: absolute;
	top: 48px;
	padding-left: 34px;
}

.content-wrapper {
    padding-bottom: 2rem;
}

/*Container CSS*/
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-container {
    display: block;
    border-radius: 15px;
    padding: 20px;
}

.input-container {
    text-align: center;
    background-color: #EEF7EF;
    padding: 2rem 10rem;
}

.input-item {
    width: inherit;
    min-width: 250px;
}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}
.mainBox{
    background-color: #EEF7EF;
    display: flex;
    flex-direction: column;
}

#lobby-create b {
    display: block;
    margin-bottom: 0.75rem;
}

#lobby-create input {
    padding: 0.75rem;
    margin-bottom: 2rem;
}

.play-button {
    background-color: #E37263;
    color: white;
    border-radius: 52rem;
    border: none;
    padding: 1rem;
    width: 250px;
    margin-bottom: 5rem;
}
.play-button.valid {
    background-color: #CC362E;
}

.img-box button {
    display: inline;
    background: none;
    border: none;
    line-height: 72px;
    padding: 1rem;
}

#lobby-create img {
    scale: 2;
    background: none;
    border-radius: 1000px;
    background-color: #D6E5D6;
    line-height: 72px;
    padding: 0;    
}

.img-box {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
}

.img-box .prev {
    margin-left: auto;
    color: #97D87F;
    outline: none;
}

.img-box .next {
    margin-right: auto;
    color: #CC362E;
    outline: none;
}

.dots-box {
    display: flex;
    color: black;
}


.dot {
    font-size: 20pt;
    content: "\2022";
    margin: auto;
    align-items: center;
    width: 100%;
}

.big  {
    font-weight: bold;
}