{{define "header"}}
<header>
    <a class="header-item" href="https://www.connectedcanadians.ca/" target="_blank">
    <img src="/resources/CC_logo_horizontal_EN.png" alt="ConnectedCanadians Logo" />
    </a>
	<a class="header-item-about" href="https://www.connectedcanadians.ca/mission" target="_blank">About Us</a>
    <a class="header-item-support" href="https://www.connectedcanadians.ca/" target="_blank">Support</a>
	<a class="header-item-button" href="https://www.connectedcanadians.ca/" target="_blank">
		<div class="exit" id="exit">Exit Game</div>
	</a>
</header>
{{end}}