<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scribble.rs</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    <link rel="icon" type="image/png" href="/resources/favicon.png"/>
    
    <script type="text/javascript">
        var currentAvatar = 0
        window.inputChanged = function() {
            if (document.getElementById('name').length == 0) {
                document.getElementsByClassName('play-button')[0].disabled = false
            } else {
                document.getElementsByClassName('play-button')[0].disabled = false
            }
        }

        function setAvatar() {
            var imgs = document.getElementsByClassName('avatar')
            var dots = document.getElementsByClassName('dot')

            for (let i = 0; i < imgs.length; i++) {
                imgs[i].style.display = "none"
                dots[i].className = "dot"
                if (i == currentAvatar) {
                    imgs[i].style.display = "inline"
                    dots[i].className = "dot big"
                }
            }
            document.getElementsByName("avatarId")[0].value = ""+currentAvatar
        }
        window.nextAvatar = function(e) {
            var children = document.getElementsByClassName('avatar')
            currentAvatar = (currentAvatar + 1) % children.length
            setAvatar()
        }

        window.prevAvatar = function(e) {
            currentAvatar = (currentAvatar - 1)
            var children = document.getElementsByClassName('avatar')
            if (currentAvatar < 0) {
                currentAvatar+=children.length
            }
            setAvatar()
        }
    </script>
</head>

<body>

{{template "header"}}

<div class="content-wrapper">

    <div class="center-container">
        <div class="content-container">
            {{if .Errors}}
                <div class="error-list">
                    Your input contains invalid data:
                    <ul>
                        {{range .Errors}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                    <br/>
                    Fix the input and try again.
                </div>

            {{end}}
            <form id="lobby-create" class="input-container" action="/ssrCreateLobby" method="POST">
                
                <h1>Scribble Game</h1>    
                
                <div><b>Enter your name</b></div>
                <input id="name" class="input-item" onkeydown="inputChanged" type="text" name="name" placeholder="Your Name" />
                                

                
                <div><b>Select an avatar</b></div>
                <div class="img-box">
                    <button class="prev" type="button" onclick="prevAvatar()"><</button>
                    <img class="avatar" src="/resources/image/avatar_emily.png" />
                    <img class="avatar" style="display: none" src="/resources/image/avatar_hannah.png" />
                    <img class="avatar" style="display: none" src="/resources/image/avatar_luciana.png" />
                    <img class="avatar" style="display: none" src="/resources/image/avatar_martina.png" />
                    <img class="avatar" style="display: none" src="/resources/image/avatar_phillip.png" />
                    <img class="avatar" style="display: none" src="/resources/image/avatar_susan.png" />
                    <img class="avatar" style="display: none" src="/resources/image/avatar_tamini.png" />
                    <img class="avatar" style="display: none" src="/resources/image/avatar_tas.png" />
                    <button class="next" type="button" onclick="nextAvatar()">></button>
                </div>
                <input type="hidden" name="avatarId" value="0">

                <div class="dots-box">
                    <div class="dot big"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>


                <button class="play-button" type="submit" form="lobby-create">Play Game</button>
            </form>
        </div>
    </div>
</div>

</body>

</html>